/******************************************************************
Site Name:  Minas Kosmidis
Site URI: http://minaskosmidis.com
Author:  ap-o
Author URI: http://www.ap-o.om

Stylesheet: IE Stylesheet
******************************************************************/
/* import mixins */
/******************************************************************
Site Name:  Minas Kosmidis
Site URI: http://minaskosmidis.com
Author:  ap-o
Author URI: http://www.ap-o.om

Stylesheet: Mixins & Constants Stylesheet
******************************************************************/
/*********************
CLEARFIXIN'
*********************/
/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */.clearfix {
  clear: both;
  /* for IE */

  zoom: 1;
}
/*********************
TOOLS
*********************/
/* http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/ */
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/*********************
COLORS
*********************/
/*********************
TYPOGRAPHY
*********************/
/* 	To embed your own fonts, use this syntax
	and place your fonts inside the 
	library/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.
*/
/*	@font-face {
    	font-family: 'Font Name';
    	src: url('../fonts/font-name.eot');
    	src: url('../fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('../fonts/font-name.woff') format('woff'),
             url('../fonts/font-name.ttf') format('truetype'),
             url('../fonts/font-name.svg#font-name') format('svg');
    	font-weight: normal;
    	font-style: normal;
	}
*/
/* 
use the best ampersand 
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
}
/* text alignment */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
/*********************
TRANISTION
*********************/
/******************************************************************
Site Name:  Minas Kosmidis
Site URI: http://minaskosmidis.com
Author:  ap-o
Author URI: http://www.ap-o.om

Stylesheet: Tablet & Small Desktop Stylesheet
******************************************************************/
/*********************
GENERAL STYLES
*********************/
body {
  font-size: 15px;
}
/*********************
LAYOUT & GRID STYLES
*********************/
#main {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  max-width: 1030px;
}
#newscontent {
  position: relative;
}
.contentsection {
  position: relative;
  max-width: auto;
}
.grid_1 {
  width: 5.88235294117647%;
}
.grid_2 {
  width: 14.215686274509803%;
}
.grid_3 {
  width: 22.54901960784314%;
}
.grid_4 {
  width: 30.88235294117647%;
}
.grid_5 {
  width: 39.21568627450981%;
}
.grid_6 {
  width: 47.549019607843135%;
}
.grid_7 {
  width: 55.88235294117647%;
}
.grid_8 {
  width: 64.2156862745098%;
}
.grid_9 {
  width: 72.54901960784314%;
}
.grid_10 {
  width: 80.88235294117648%;
}
.grid_11 {
  width: 89.2156862745098%;
}
.grid_12 {
  width: 97.54901960784314%;
}
/* layout & column defaults */
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  position: relative;
  float: left;
  margin: 1.2254901960784315%;
}
/*********************
HEADER
*********************/
#header {
  margin-bottom: 1.2254901960784315%;
}
#logo {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
}
/*********************
MAIN MENU
*********************/
#mainmenu .menu-item {
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}
/*********************
NEWS
*********************/
.caption_pos_bellow {
  margin-top: 0;
}
.news_item .news_quote_box p {
  margin-top: 0;
}
.copy_pos_bellow {
  margin-top: 0;
}
/*********************
PROJECTS
*********************/
#projectscontent .project_thumb {
  float: left;
  width: 30.88235294117647%;
  margin: 1.2254901960784315%;
  margin-bottom: 3.6764705882352944%;
  opacity: 1;
}
#projectscontent .project_thumb.hidden {
  display: block;
}
.project_thumb .project_thumb_image {
  padding: 4px;
}
.project_thumb .project_thumb_info_title {
  font-size: 15px;
  height: auto;
}
.project_thumb .project_thumb_info_desc {
  display: block;
}
.project_thumb .project_thumb_info_desc {
  display: block;
}
/*********************
SINGLE PROJECT
*********************/
#projectinfo {
  width: 75%;
}
#fb_like_container {
  width: 25%;
}
#projectinfo h1 {
  margin: 0;
  line-height: 1;
  font-size: 38px;
}
#projectinfo p {
  margin: 0;
  font-size: 18px;
  color: #989898;
}
/*********************
PUBLICATIONS
*********************/
#pubscontent .pub_thumb {
  position: relative;
  float: left;
  width: 14.215686274509803%;
  margin: 1.2254901960784315%;
}
/*********************
STUDIO
*********************/
.grid_copy_box p {
  padding: 5px 5px 10px 5px;
  margin: 0;
}
.grid_copy_box p:last {
  padding-bottom: 0;
}
/*********************
FOOTER
*********************/
#footer {
  max-width: 1030px;
  clear: both;
  position: relative;
}
/******************************************************************
Site Name:  Minas Kosmidis
Site URI: http://minaskosmidis.com
Author:  ap-o
Author URI: http://www.ap-o.om

Stylesheet: Desktop Stylesheet
******************************************************************/
body {
  font-size: 15px;
}
/*********************
LAYOUT & GRID STYLES
*********************/
#main {
  max-width: 1600px;
}
#newscontent {
  position: absolute;
  padding-bottom: 5.392156862745098%;
}
.contentsection {
  display: none;
  position: absolute;
  padding-bottom: 4.166666666666667%;
}
/*********************
MAIN MENU
*********************/
/*********************
NEWS
*********************/
.news_item .sub_image {
  border: 1px solid #af1117;
}
.news_item.visited .sub_image {
  border: 1px solid #989898;
}
.news_item.hover .sub_image {
  border: 1px solid #989898;
}
.news_item .sub_image img {
  display: block;
  opacity: 0;
  -webkit-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.news_item.hover .sub_image img {
  opacity: 1;
}
.news_item .news_caption_box,
.news_item .news_quote_box {
  opacity: 0;
}
.news_item.hover .news_caption_box,
.news_item.hover .news_quote_box {
  opacity: 1;
}
/*********************
PROJECTS
*********************/.project_thumb .project_thumb_image {
  border: 1px solid white;
  padding: 0;
}
.project_thumb.visited .project_thumb_image {
  border: 1px solid #989898;
}
.project_thumb.hover .project_thumb_image {
  border: 1px solid #af1117;
}
.project_thumb .project_thumb_image img {
  display: block;
  opacity: 1;
  -webkit-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.project_thumb.visited .project_thumb_image img {
  display: block;
  opacity: 0;
  -webkit-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.project_thumb.hover .project_thumb_image img {
  opacity: 1;
}
.project_thumb .project_title {
  opacity: 0;
}
.project_thumb.hover .project_title {
  opacity: 1;
}
.project_thumb.selected .project_thumb_image {
  border: 1px solid #af1117;
}
.project_thumb.selected .project_thumb_image img {
  opacity: 1;
}
.project_thumb.selected .project_title {
  opacity: 1;
}
/*********************
SINGLE PROJECT
*********************/
/*********************
PUBLICATIONS
*********************/
.pub_thumb .description {
  margin-top: 5px;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  height: 35px;
  margin-bottom: 5px;
}
/*********************
STUDIO
*********************/
.grid_image_box:hover .sub_image {
  border: 1px solid #989898;
  cursor: pointer;
}
.grid_image_box .sub_image {
  border: 1px solid #af1117;
}
.grid_image_box .sub_image img {
  display: block;
  opacity: 0;
  -webkit-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.grid_image_box:hover .sub_image img {
  opacity: 1;
}
/*********************
FOOTER
*********************/
#footer {
  position: fixed;
  bottom: 0;
  z-index: 100;
  background-color: #ffffff;
  max-width: 1440px;
  width: 100%;
}
/******************************************************************
ADDITIONAL IE FIXES
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
