/******************************************************************
Site Name:  Minas Kosmidis
Site URI: http://minaskosmidis.com
Author:  ap-o
Author URI: http://www.ap-o.om

Stylesheet: Main Stylesheet
******************************************************************/
/*! normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE6/7/8/9 & FF3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
/*
 * Corrects `inline-block` display not defined in IE6/7/8/9 & FF3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/*
 * Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
 * Known issue: no IE6 support.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */

  -webkit-text-size-adjust: 100%;
  /* 2 */

  -ms-text-size-adjust: 100%;
  /* 2 */

}
/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/*
 * Addresses margins handled incorrectly in IE6/7.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/*
 * Improves readability when focused and also mouse hovered in all browsers.
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7.
 * Addresses font sizes within `section` and `article` in FF4+, Chrome, S5.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/*
 * Addresses style set to `bolder` in FF3+, S4/5, Chrome.
 */
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
/*
 * Addresses styling not present in S5, Chrome.
 */
dfn {
  font-style: italic;
}
/*
 * Addresses styling not present in IE6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/*
 * Addresses margins set differently in IE6/7.
 */
p,
pre {
  margin: 1em 0;
}
/*
 * Corrects font family set oddly in IE6, S4/5, Chrome.
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/*
 * Addresses CSS quotes not supported in IE6/7.
 */
q {
  quotes: none;
}
/*
 * Addresses `quotes` property not supported in S4.
 */
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
/*
 * Addresses paddings set differently in IE6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
/*
 * Corrects list images handled incorrectly in IE7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE6/7/8/9, FF3.
 * 2. Improves image quality when scaled in IE7.
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */

  -ms-interpolation-mode: bicubic;
  /* 2 */

}
/*
 * Corrects overflow displayed oddly in IE9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7.
 */
form {
  margin: 0;
}
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/*
 * 1. Corrects color not being inherited in IE6/7/8/9.
 * 2. Corrects text not wrapping in FF3.
 * 3. Corrects alignment displayed oddly in IE6/7.
 */
legend {
  border: 0;
  /* 1 */

  padding: 0;
  white-space: normal;
  /* 2 */

  *margin-left: -7px;
  /* 3 */

}
/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */

  margin: 0;
  /* 2 */

  vertical-align: baseline;
  /* 3 */

  *vertical-align: middle;
  /* 3 */

}
/*
 * Addresses FF3/4 setting `line-height` on `input` using `!important` in the
 * UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */

  cursor: pointer;
  /* 3 */

  *overflow: visible;
  /* 4 */

}
/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default;
}
/*
 * 1. Addresses box sizing set to content-box in IE8/9.
 * 2. Removes excess padding in IE8/9.
 * 3. Removes excess padding in IE7.
 *    Known issue: excess padding remains in IE6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

  *height: 13px;
  /* 3 */

  *width: 13px;
  /* 3 */

}
/*
 * 1. Addresses `appearance` set to `searchfield` in S5, Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz`
 *    to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
 * Removes inner padding and border in FF3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/******************************************************************
CUSTOMIZED RESET VALUES
I added these extra styles as a more personalized reset. Feel free
to remove them if you like or add your own. If you want to update
the normalize styles, make sure to edit from this point up.
******************************************************************/
ul,
ol {
  padding: 0;
  list-style-type: none;
}
dd {
  margin: 0;
}
.sidebar ul,
.sidebar ol,
.commentlist {
  list-style: none;
}
/* proper formatting (http://blog.fontdeck.com/post/9037028497/hyphens) */
p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -epub-hyphens: auto;
  hyphens: auto;
}
b,
strong,
.strong {
  font-weight: bold;
}
dfn,
em,
.em {
  font-style: italic;
}
small,
.small {
  font-size: 75%;
}
/******************************************************************
Site Name:  Minas Kosmidis
Site URI: http://minaskosmidis.com
Author:  ap-o
Author URI: http://www.ap-o.om

Stylesheet: Mixins & Constants Stylesheet
******************************************************************/
/*********************
CLEARFIXIN'
*********************/
/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */.clearfix {
  clear: both;
  /* for IE */

  zoom: 1;
}
/*********************
TOOLS
*********************/
/* http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/ */
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/*********************
COLORS
*********************/
/*********************
TYPOGRAPHY
*********************/
/* 	To embed your own fonts, use this syntax
	and place your fonts inside the 
	library/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.
*/
/*	@font-face {
    	font-family: 'Font Name';
    	src: url('../fonts/font-name.eot');
    	src: url('../fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('../fonts/font-name.woff') format('woff'),
             url('../fonts/font-name.ttf') format('truetype'),
             url('../fonts/font-name.svg#font-name') format('svg');
    	font-weight: normal;
    	font-style: normal;
	}
*/
/* 
use the best ampersand 
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
}
/* text alignment */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
/*********************
TRANISTION
*********************/
/*
* BASE (MOBILE) SIZE 
*/
/******************************************************************
Site Name:  Minas Kosmidis
Site URI: http://minaskosmidis.com
Author:  ap-o
Author URI: http://www.ap-o.om

Stylesheet: Base Mobile Stylesheet
******************************************************************/
/*********************
GENERAL STYLES
*********************/
body {
  font-family: "Din Text Pro Light", Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  background-color: #FFFFFF;
  color: #111111;
  font-size-adjust: 0.5;
  font-weight: 200;
  font-style: normal;
  overflow-y: scroll;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
#seo {
  display: none;
}
#seo img {
  width: auto;
}
/*********************
LAYOUT & GRID STYLES
*********************/
#main {
  padding-left: 2.450980392156863%;
  padding-right: 2.450980392156863%;
  margin: 0 auto;
  max-width: 500px;
}
#newscontent {
  position: relative;
}
.contentsection {
  display: none;
  position: relative;
  padding-bottom: 1.2254901960784315%;
  margin-bottom: 0;
}
/* layout & column defaults */
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  position: relative;
  float: left;
  margin: 1.2254901960784315%;
  margin-bottom: 4.901960784313726%;
  width: 97.54901960784314%;
  display: block;
}
/*********************
LINK STYLES
*********************/
a,
a:visited {
  color: #989898;
  text-decoration: none;
  /* on hover */

  /* on click */

  /* mobile tap color */

}
a:hover,
a:visited:hover,
a:focus,
a:visited:focus {
  color: #111111;
}
a:active,
a:visited:active {
  color: #111111;
}
a:link,
a:visited:link {
  /*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-family: "Din Text Pro Thin", Verdana, sans-serif;
  text-rendering: optimizelegibility;
  font-weight: 100;
  font-style: normal;
  font-size-adjust: 0.5;
}
h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a {
  text-decoration: none;
}
h1,
.h1 {
  font-size: 2.5em;
  line-height: 1.333em;
}
h2,
.h2 {
  font-size: 1.75em;
  line-height: 1.4em;
  margin-bottom: 0.375em;
}
h3,
.h3 {
  font-size: 1.125em;
}
h4,
.h4 {
  font-size: 1.1em;
}
h5,
.h5 {
  font-size: 0.846em;
  line-height: 2.09em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/*********************
HEADER
*********************/
#header {
  position: relative;
}
#logo {
  padding-top: 30px;
  padding-bottom: 20px;
  cursor: pointer;
  text-align: center;
}
#logo img {
  width: 100%;
  height: auto;
  max-width: 250px;
  display: inline-block;
}
.contentsection {
  position: relative;
  padding-top: 0;
}
/*********************
MAIN MENU
*********************/
#mainmenu {
  border-bottom: 1px solid #af1117;
  padding-bottom: 5px;
  margin-bottom: 0px;
  padding-top: 0px;
  text-align: center;
}
#mainmenu .menu-item {
  margin-left: 3px;
  margin-right: 3px;
  color: #cccccc;
  cursor: pointer;
  display: inline-block;
}
#mainmenu .menu-item:hover {
  color: #111111;
}
#mainmenu .menu-item.active {
  color: #111111;
}
#mainmenu .menu-item.active:hover {
  color: #989898;
}
#mainmenu .menu-item.active a,
#mainmenu .menu-item.active a:visited {
  color: #111111;
}
#categoriesmenu {
  margin-top: 0px;
  margin-bottom: 0px;
  opacity: 1;
  -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  text-align: center;
}
#categoriesmenu.hidden {
  opacity: 0;
}
#categoriesmenu .mobile-breaker {
  width: 1px;
  display: block;
}
#categoriesmenu .submenu-item {
  margin-left: 5px;
  margin-right: 5px;
  color: #cccccc;
  cursor: pointer;
  display: inline-block;
}
#categoriesmenu .submenu-item:hover {
  color: #111111;
}
#categoriesmenu .submenu-item.selected {
  color: #111111;
}
#categoriesmenu .submenu-item.selected:hover {
  color: #989898;
}
/*********************
NEWS
*********************/
.news_item {
  opacity: 1;
  -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.news_item.unloaded {
  opacity: 0;
}
.news_item.hidden {
  opacity: 0;
}
.news_item .sub_image {
  border: none;
}
.news_item.visited .sub_image {
  border: none;
}
.news_item.hover .sub_image {
  border: none;
}
.news_item .sub_image img {
  display: block;
  opacity: 1;
  -webkit-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.news_item .news_caption_box,
.news_item .news_quote_box {
  opacity: 1;
}
.news_line_break {
  clear: both;
}
.news_item {
  cursor: pointer;
}
.news_caption_box {
  min-height: 50px;
}
.news_item .news_caption_box,
.news_item .news_quote_box {
  opacity: 1;
}
.caption_pos_bellow {
  margin-top: 0;
}
.copy_pos_bellow {
  margin-top: 0;
}
/*********************
PROJECTS
*********************/#projectscontent .project_thumb {
  position: relative;
  float: left;
  width: 47.549019607843135%;
  margin: 1.2254901960784315%;
  cursor: pointer;
  margin-bottom: 3.6764705882352944%;
  -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  display: block;
  opacity: 1;
}
#projectscontent .project_thumb.unloaded {
  opacity: 0;
}
#projectscontent .project_thumb.hidden {
  display: none;
  opacity: 0;
}
.project_thumb .project_thumb_info_title {
  font-size: 14px;
  height: 30px;
}
.project_thumb .project_thumb_info_desc {
  display: none;
  color: #989898;
}
.project_thumb .project_thumb_image {
  padding: 2px;
  border: 1px solid #af1117;
  -webkit-transition: border 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: border 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: border 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: border 800ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: border 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.project_thumb.visited .project_thumb_image {
  border: 1px solid #989898;
}
.project_thumb.hover .project_thumb_image {
  border: 1px solid black;
}
.project_thumb .project_thumb_image img {
  display: block;
  opacity: 1;
  -webkit-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.project_thumb.visited .project_thumb_image img {
  display: block;
  opacity: 1;
  -webkit-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.project_thumb.hover .project_thumb_image img {
  opacity: 1;
}
.project_thumb.selected .project_thumb_image img {
  opacity: 1;
}
/*********************
SINGLE PROJECT
*********************/#singleproject {
  overflow: hidden;
  display: block;
  height: 0px;
  width: 97.54901960784314%;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-transition: height 1s cubic-bezier(1, 0, 0, 1);
  -moz-transition: height 1s cubic-bezier(1, 0, 0, 1);
  -ms-transition: height 1s cubic-bezier(1, 0, 0, 1);
  -o-transition: height 1s cubic-bezier(1, 0, 0, 1);
  transition: height 1s cubic-bezier(1, 0, 0, 1);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
#slideshow {
  margin-bottom: 2.450980392156863%;
  cursor: pointer;
}
#buttons {
  position: absolute;
  z-index: 1;
}
#btn-left {
  opacity: 0;
  float: left;
  border-left: 10px solid #989898;
  -webkit-transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
#btn-right {
  opacity: 0;
  float: right;
  border-right: 10px solid #989898;
  -webkit-transition: opacity 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: opacity 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: opacity 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: opacity 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
#btn-left.hover {
  opacity: 0.5;
}
#btn-right.hover {
  opacity: 0.5;
}
#images {
  float: left;
  overflow: hidden;
  -webkit-transition: margin-left 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: margin-left 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: margin-left 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: margin-left 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: margin-left 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  margin-left: 0px;
}
#slideshow .project_image {
  float: left;
  background-color: #f0f0f0;
}
#slideshow .project_image img {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  opacity: 1;
  -webkit-transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
#slideshow .project_image.hidden img {
  opacity: 0;
}
#slideshow .project_image.unloaded img {
  opacity: 0;
}
#fb_like_container {
  float: left;
  width: 100%;
  height: 22px;
  overflow: hidden;
  text-align: right;
}
#projectdetails {
  border-bottom: 1px solid #af1117;
  padding-bottom: 2.450980392156863%;
}
#projectinfo {
  float: left;
  width: 100%;
}
#projectinfo h1 {
  margin: 0;
  line-height: 1;
  font-size: 28px;
}
#projectinfo p {
  margin: 0;
  font-size: 15px;
  color: #989898;
}
/*********************
PUBLICATIONS
*********************/
#pubscontent .pub_thumb {
  position: relative;
  float: left;
  width: 30.88235294117647%;
  margin: 1.2254901960784315%;
  opacity: 1;
  -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
#pubscontent .pub_thumb.unloaded {
  opacity: 0;
}
#pubscontent .pub_thumb.hidden {
  opacity: 0;
}
.pub_thumb {
  cursor: pointer;
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.pub_thumb .description i {
  font-style: normal;
  color: #989898;
}
.pub_thumb .description {
  margin-top: 5px;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  height: 55px;
  margin-bottom: 5px;
}
.pub_thumb .pub_thumb_image_one {
  display: block;
  opacity: 1;
  height: auto;
  -webkit-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.pub_thumb.hover .pub_thumb_image_one {
  opacity: 0;
  height: 0;
  overflow: hidden;
}
.pub_thumb .pub_thumb_image_two {
  -webkit-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  opacity: 0;
  height: 0;
  overflow: hidden;
}
.pub_thumb.hover .pub_thumb_image_two {
  opacity: 1;
  height: auto;
}
/*********************
STUDIO
*********************/
.grid_box {
  opacity: 1;
  -webkit-transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.grid_box.hidden {
  opacity: 0;
}
.grid_box.unloaded {
  opacity: 0;
}
.grid_image_box:hover .sub_image {
  border: none;
  cursor: pointer;
}
.grid_image_box .sub_image {
  border: none;
}
.grid_image_box .sub_image img {
  display: block;
  opacity: 1;
  -webkit-transition: opacity 1400ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: opacity 1400ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: opacity 1400ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: opacity 1400ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 1400ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.grid_image_box:hover .sub_image img {
  opacity: 1;
}
.grid_line_break {
  clear: both;
}
.red_box {
  border: 1px solid #af1117;
}
.grid_copy_box p {
  padding: 0 0 10px 0;
  margin: 0;
}
.grid_copy_box p:last {
  padding-bottom: 0;
}
.grid_copy_box i,
.grid_copy_box em {
  font-style: normal;
  display: block;
  padding-bottom: 5px;
}
/*********************
FOOTER
*********************/
#footer {
  margin-top: 10px;
  clear: both;
  position: relative;
  max-width: 500px;
  width: 100%;
}
#footer .mail {
  float: left;
  width: 65%;
}
#footer .signature {
  float: right;
  width: 35%;
  text-align: right;
}
#footer .row {
  margin-left: 1.2254901960784315%;
  margin-right: 1.2254901960784315%;
  margin-bottom: 1.2254901960784315%;
  padding-top: 1.2254901960784315%;
  border-top: 1px solid #af1117;
}
/*
 * BIGGER AND HORIZONTAL PHONES
*/
@media only screen and (min-width: 480px) {
  /******************************************************************
  Site Name:  Minas Kosmidis
  Site URI: http://minaskosmidis.com
  Author:  ap-o
  Author URI: http://www.ap-o.om
  
  Stylesheet: Big and Horizontal Phones
  ******************************************************************/
  #categoriesmenu .mobile-breaker {
    display: inline-block;
  }
  #singleprojectimages {
    overflow: hidden;
    width: 15000px;
  }
}
/*
 * TABLET & SMALLER LAPTOPS
*/
@media only screen and (min-width: 768px) {
  /******************************************************************
  Site Name:  Minas Kosmidis
  Site URI: http://minaskosmidis.com
  Author:  ap-o
  Author URI: http://www.ap-o.om
  
  Stylesheet: Tablet & Small Desktop Stylesheet
  ******************************************************************/
  /*********************
  GENERAL STYLES
  *********************/
  body {
    font-size: 15px;
  }
  /*********************
  LAYOUT & GRID STYLES
  *********************/
  #main {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    max-width: 1030px;
  }
  #newscontent {
    position: relative;
  }
  .contentsection {
    position: relative;
    max-width: auto;
  }
  .grid_1 {
    width: 5.88235294117647%;
  }
  .grid_2 {
    width: 14.215686274509803%;
  }
  .grid_3 {
    width: 22.54901960784314%;
  }
  .grid_4 {
    width: 30.88235294117647%;
  }
  .grid_5 {
    width: 39.21568627450981%;
  }
  .grid_6 {
    width: 47.549019607843135%;
  }
  .grid_7 {
    width: 55.88235294117647%;
  }
  .grid_8 {
    width: 64.2156862745098%;
  }
  .grid_9 {
    width: 72.54901960784314%;
  }
  .grid_10 {
    width: 80.88235294117648%;
  }
  .grid_11 {
    width: 89.2156862745098%;
  }
  .grid_12 {
    width: 97.54901960784314%;
  }
  /* layout & column defaults */
  .grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9,
  .grid_10,
  .grid_11,
  .grid_12 {
    position: relative;
    float: left;
    margin: 1.2254901960784315%;
  }
  /*********************
  HEADER
  *********************/
  #header {
    margin-bottom: 1.2254901960784315%;
  }
  #logo {
    padding-top: 30px;
    padding-bottom: 24px;
    text-align: center;
  }
  /*********************
  MAIN MENU
  *********************/
  #mainmenu .menu-item {
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
  }
  /*********************
  NEWS
  *********************/
  .caption_pos_bellow {
    margin-top: 0;
  }
  .news_item .news_quote_box p {
    margin-top: 0;
  }
  .copy_pos_bellow {
    margin-top: 0;
  }
  /*********************
  PROJECTS
  *********************/
  #projectscontent .project_thumb {
    float: left;
    width: 30.88235294117647%;
    margin: 1.2254901960784315%;
    margin-bottom: 3.6764705882352944%;
    opacity: 1;
  }
  #projectscontent .project_thumb.hidden {
    display: block;
  }
  .project_thumb .project_thumb_image {
    padding: 4px;
  }
  .project_thumb .project_thumb_info_title {
    font-size: 15px;
    height: auto;
  }
  .project_thumb .project_thumb_info_desc {
    display: block;
  }
  .project_thumb .project_thumb_info_desc {
    display: block;
  }
  /*********************
  SINGLE PROJECT
  *********************/
  #projectinfo {
    width: 75%;
  }
  #fb_like_container {
    width: 25%;
  }
  #projectinfo h1 {
    margin: 0;
    line-height: 1;
    font-size: 38px;
  }
  #projectinfo p {
    margin: 0;
    font-size: 18px;
    color: #989898;
  }
  /*********************
  PUBLICATIONS
  *********************/
  #pubscontent .pub_thumb {
    position: relative;
    float: left;
    width: 14.215686274509803%;
    margin: 1.2254901960784315%;
  }
  /*********************
  STUDIO
  *********************/
  .grid_copy_box p {
    padding: 5px 5px 10px 5px;
    margin: 0;
  }
  .grid_copy_box p:last {
    padding-bottom: 0;
  }
  /*********************
  FOOTER
  *********************/
  #footer {
    max-width: 1030px;
    clear: both;
    position: relative;
  }
}
/*
 * DESKTOP 
*/
@media only screen and (min-width: 1030px) {
  /******************************************************************
  Site Name:  Minas Kosmidis
  Site URI: http://minaskosmidis.com
  Author:  ap-o
  Author URI: http://www.ap-o.om
  
  Stylesheet: Desktop Stylesheet
  ******************************************************************/
  body {
    font-size: 15px;
  }
  /*********************
  LAYOUT & GRID STYLES
  *********************/
  #main {
    max-width: 1600px;
  }
  #newscontent {
    position: absolute;
    padding-bottom: 5.392156862745098%;
  }
  .contentsection {
    display: none;
    position: absolute;
    padding-bottom: 4.166666666666667%;
  }
  /*********************
  MAIN MENU
  *********************/
  /*********************
  NEWS
  *********************/
  .news_item .sub_image {
    border: 1px solid #af1117;
  }
  .news_item.visited .sub_image {
    border: 1px solid #989898;
  }
  .news_item.hover .sub_image {
    border: 1px solid #989898;
  }
  .news_item .sub_image img {
    display: block;
    opacity: 0;
    -webkit-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
  }
  .news_item.hover .sub_image img {
    opacity: 1;
  }
  .news_item .news_caption_box,
  .news_item .news_quote_box {
    opacity: 0;
  }
  .news_item.hover .news_caption_box,
  .news_item.hover .news_quote_box {
    opacity: 1;
  }
  /*********************
  PROJECTS
  *********************/.project_thumb .project_thumb_image {
    border: 1px solid white;
    padding: 0;
  }
  .project_thumb.visited .project_thumb_image {
    border: 1px solid #989898;
  }
  .project_thumb.hover .project_thumb_image {
    border: 1px solid #af1117;
  }
  .project_thumb .project_thumb_image img {
    display: block;
    opacity: 1;
    -webkit-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
  }
  .project_thumb.visited .project_thumb_image img {
    display: block;
    opacity: 0;
    -webkit-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
  }
  .project_thumb.hover .project_thumb_image img {
    opacity: 1;
  }
  .project_thumb .project_title {
    opacity: 0;
  }
  .project_thumb.hover .project_title {
    opacity: 1;
  }
  .project_thumb.selected .project_thumb_image {
    border: 1px solid #af1117;
  }
  .project_thumb.selected .project_thumb_image img {
    opacity: 1;
  }
  .project_thumb.selected .project_title {
    opacity: 1;
  }
  /*********************
  SINGLE PROJECT
  *********************/
  /*********************
  PUBLICATIONS
  *********************/
  .pub_thumb .description {
    margin-top: 5px;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    height: 35px;
    margin-bottom: 5px;
  }
  /*********************
  STUDIO
  *********************/
  .grid_image_box:hover .sub_image {
    border: 1px solid #989898;
    cursor: pointer;
  }
  .grid_image_box .sub_image {
    border: 1px solid #af1117;
  }
  .grid_image_box .sub_image img {
    display: block;
    opacity: 0;
    -webkit-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
  }
  .grid_image_box:hover .sub_image img {
    opacity: 1;
  }
  /*********************
  FOOTER
  *********************/
  #footer {
    position: fixed;
    bottom: 0;
    z-index: 100;
    background-color: #ffffff;
    max-width: 1440px;
    width: 100%;
  }
}
/*
 * RETINA (2x RESOLUTION DEVICES)
*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /******************************************************************
  Site Name:  Minas Kosmidis
  Site URI: http://minaskosmidis.com
  Author:  ap-o
  Author URI: http://www.ap-o.om
  
  Stylesheet: Retina Screens & Devices Stylesheet
  ******************************************************************/
  /* 
  
  EXAMPLE 
  Let's say you have an image and you need to make sure it looks ok
  on retina screens. Let's say we have an icon which dimension are
  24px x 24px. In your regular stylesheets, it would look something
  like this:
  
  .icon {
  	width: 24px;
  	height: 24px;
  	background: url(img/test.png) no-repeat;
  }
  
  For retina screens, we have to make some adjustments, so that image
  doesn't look blurry. So, taking into account the image above and the
  dimensions, this is what we would put in our retina stylesheet:
  
  .icon {
  	background: url(img/test@2x.png) no-repeat;
  	background-size: 24px 24px;
  }
  
  So, you would create the same icon, but at double the resolution, meaning 
  it would be 48px x 48px. You'd name it the same, but with a @2x at the end
  (this is pretty standard practice). Set the background image so it matches
  the original dimensions and you are good to go. 
  
  */
}
/*
 * PRINT STYLESHEET
*/
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a,
  a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a:after,
  a:visited:after {
    content: " (" attr(href) ")";
  }
  a abbr[title]:after,
  a:visited abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
