	<div class="grid_4"></div>
	
	<div class="grid_4" id="logo">
		<img src="/images/logo.png">
	</div>
	
	<div class="grid_4"></div>

	<div class="grid_12" id="menu">
		
		<div id="mainmenu">
		
			<span id="news_btn" class="menu-item active" data-slug="news">
				NEWS<!-- <a href="/news">NEWS</a> -->
			</span>
			
			<span id="projects_btn" class="menu-item" data-slug="projects">
				PROJECTS<!-- <a href="/projects">PROJECTS</a> -->
			</span>
			
			<span id="publications_btn" class="menu-item" data-slug="publications">
				PUBLICATIONS<!-- <a href="/publications">PUBLICATIONS</a> -->
			</span>
			
			<span id="studio_btn" class="menu-item" data-slug="studio">
				STUDIO<!-- <a href="/studio">STUDIO</a> -->
			</span>

		</div>

		<div class="clearfix"></div>

		<div id="categoriesmenu"></div>

		<div class="clearfix"></div>
	
	</div>
	
	<div class="clearfix"></div>

	</div>


