/******************************************************************
Site Name:  Minas Kosmidis
Site URI: http://minaskosmidis.com
Author:  ap-o
Author URI: http://www.ap-o.om

Stylesheet: Desktop Stylesheet
******************************************************************/

body {
     font-size:15px;
}

/*********************
LAYOUT & GRID STYLES
*********************/
#main{
	max-width:1600px;
}

#newscontent{
	position:absolute;
	padding-bottom:4.4*1.2254901960784315%;	
	
}

.contentsection{
	display:none;
	position:absolute;
	//padding-top:175px;
	padding-bottom:3.4*1.2254901960784315%;	
}


.contentsection.hidden{
	//opacity:0;
}


/*********************
MAIN MENU
*********************/


#header{
	//position:absolute;
	//top:0;
}

#header.sticky
{
	//position:fixed;
	//top:-115px;
}



/*********************
NEWS
*********************/

.news_item .sub_image
{
	border:1px solid @mk-red;
}

.news_item.visited .sub_image
{
	border:1px solid @mk-gray;
}

.news_item.hover .sub_image
{
	border:1px solid @mk-gray;
}

.news_item .sub_image img {
	display:block;
	opacity:0;
	.transition(opacity, 800ms, cubic-bezier(0.190, 1.000, 0.220, 1.000));
}

.news_item.hover .sub_image img{
	opacity:1;
}

.news_item .news_caption_box ,
.news_item .news_quote_box{
	opacity:0;
}

.news_item.hover .news_caption_box ,
.news_item.hover .news_quote_box{
	opacity:1;
}

/*********************
PROJECTS
*********************/ 

#projectscontent .project_thumb{ 
	//position:absolute;
}


.project_thumb .project_thumb_image
{
	border:1px solid white;
	padding:0;
}

.project_thumb.visited .project_thumb_image
{
	border:1px solid @mk-gray;
}

.project_thumb.hover .project_thumb_image
{
	border:1px solid @mk-red;
}

.project_thumb .project_thumb_image img {
	display:block;
	opacity:1;
	.transition(opacity, 800ms, cubic-bezier(0.190, 1.000, 0.220, 1.000));
}

.project_thumb.visited .project_thumb_image img {
	display:block;
	opacity:0;
	.transition(opacity, 800ms, cubic-bezier(0.190, 1.000, 0.220, 1.000));
}

.project_thumb.hover .project_thumb_image img{
	opacity:1;
}

.project_thumb .project_title{
	opacity:0;
}

.project_thumb.hover .project_title{
	opacity:1;
}

.project_thumb.selected .project_thumb_image{
	border:1px solid @mk-red;
}

.project_thumb.selected .project_thumb_image img{
	opacity:1;
}

.project_thumb.selected .project_title{
	opacity:1;
}


/*********************
SINGLE PROJECT
*********************/



/*********************
PUBLICATIONS
*********************/



.pub_thumb .description{
	margin-top: 5px;
	font-size:13px;
	text-transform:uppercase;
	.text-center;
	height:35px;
	margin-bottom:5px;
}


/*********************
STUDIO
*********************/


.grid_image_box:hover .sub_image
{
	border:1px solid @mk-gray;
	cursor:pointer;
}

.grid_image_box .sub_image
{
	border:1px solid @mk-red;
}

.grid_image_box .sub_image img {
	display:block;
	opacity:0;
	.transition(opacity, 800ms, cubic-bezier(0.190, 1.000, 0.220, 1.000));
}

.grid_image_box:hover .sub_image img{
	opacity:1;
}



/*********************
FOOTER
*********************/

#footer{
	position:fixed;
	bottom:0;
	z-index:100;
	background-color:#ffffff;
	max-width:1440px;
	width:100%;
}


