/******************************************************************
Site Name:  Minas Kosmidis
Site URI: http://minaskosmidis.com
Author:  ap-o
Author URI: http://www.ap-o.om

Stylesheet: Big and Horizontal Phones
******************************************************************/


#categoriesmenu .mobile-breaker{
    display:inline-block;
}


#singleprojectimages
{
	overflow:hidden;
	width:15000px;
}


			