/******************************************************************
Site Name:  Minas Kosmidis
Site URI: http://minaskosmidis.com
Author:  ap-o
Author URI: http://www.ap-o.om

Stylesheet: Tablet & Small Desktop Stylesheet
******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {
     font-size:15px;
}



/*********************
LAYOUT & GRID STYLES
*********************/


#main{
    padding-left: 20px;
    padding-right: 20px;
    margin:0 auto;
    max-width:1030px;
}

.container {
  
}

#newscontent{
    position:relative;
}

.contentsection{
    position:relative;
    max-width: auto;
}

  
.grid_1 {
    width: 5.88235294117647%;
}
.grid_2 {
    width: 14.215686274509803%;
}
.grid_3 {
    width: 22.54901960784314%;
}
.grid_4 {
    width: 30.88235294117647%;
}
.grid_5 {
    width: 39.21568627450981%;
}
.grid_6 {
    width: 47.549019607843135%;
}
.grid_7 {
    width: 55.88235294117647%;
}
.grid_8 {
    width: 64.2156862745098%;
}
.grid_9 {
    width: 72.54901960784314%;
}
.grid_10 {
    width: 80.88235294117648%;
}
.grid_11 {
    width: 89.2156862745098%;
}
.grid_12 {
    width: 97.54901960784314%;
}
	
	/* layout & column defaults */
	.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 { 
		position: relative;
		float: left; 
        margin: 1.2254901960784315%;
	}

/*********************
HEADER
*********************/
#header{
    margin-bottom: 1.2254901960784315%;
}
#logo {
    padding-top:30px;
    padding-bottom:24px;
    .text-center
}


/*********************
MAIN MENU
*********************/

#mainmenu{
    
    .menu-item{
        margin-left: 5px;
        margin-right: 5px;
        display:inline-block;
    }

}

/*********************
NEWS
*********************/
.caption_pos_bellow{
    margin-top:0;
}
.news_item .news_quote_box p{
    margin-top:0;
}
.news_caption_box {
   
}

.copy_pos_bellow{
    margin-top:0;
}

/*********************
PROJECTS
*********************/

#projectscontent .project_thumb{ 
    float: left; 
    width: 30.88235294117647%;
    margin: 1.2254901960784315%;
    margin-bottom: 3*1.2254901960784315%;
    opacity:1;
}

#projectscontent .project_thumb.hidden{ 
    display:block;
}


.project_thumb .project_thumb_image
{
    padding:4px;
}


.project_thumb .project_thumb_info_title{
    font-size:15px;
    height:auto;
}
.project_thumb .project_thumb_info_desc{
    display:block;
}

.project_thumb .project_thumb_info_title{
    
}
.project_thumb .project_thumb_info_desc{
    display:block;
}

/*********************
SINGLE PROJECT
*********************/

#projectinfo{
    width:75%;
}
#fb_like_container{
    width:25%;
}


#projectinfo h1{
    margin:0;
    line-height:1;
    font-size:38px;
}
#projectinfo p{
    margin:0;
    font-size:18px;
    color:@mk-gray;
}



/*********************
PUBLICATIONS
*********************/

#pubscontent .pub_thumb{ 
    position: relative;
    float: left; 
    width: 14.215686274509803%;
    margin: 1.2254901960784315%;
}

/*********************
STUDIO
*********************/
.grid_copy_box p
{
    padding:5px 5px 10px 5px;
    margin:0;
}

.grid_copy_box p:last{
    padding-bottom:0;
}


/*********************
FOOTER
*********************/
#footer {
    max-width:1030px;
    clear: both;
    position:relative;
}






			