/******************************************************************
Site Name:  Minas Kosmidis
Site URI: http://minaskosmidis.com
Author:  ap-o
Author URI: http://www.ap-o.om

Stylesheet: Base Mobile Stylesheet
******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: @sansserif;
	font-size: 15px;
	line-height: 1.5;
	background-color:#FFFFFF;
	color: @mk-black;
	font-size-adjust:0.5;
	font-weight:200;
	font-style:normal;
	overflow-y: scroll;
}


img{
	display:block;
	width:100%;
	height:auto;
}
#seo{
	display: none;
}
#seo img{
	width:auto;
}
/*********************
LAYOUT & GRID STYLES
*********************/

#main{
	padding-left: 2*1.2254901960784315%;
	padding-right: 2*1.2254901960784315%;
	margin:0 auto;
	max-width:500px;
	//overflow-y:hidden;
}

.container {
  
}

#newscontent{
	position:relative;
}

.contentsection{
	display:none;
	position:relative;
	padding-bottom:1.2254901960784315%;
	margin-bottom:0;
	//overflow-y:hidden;
}

	
/* layout & column defaults */
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 { 
	position: relative;
	float: left; 
	margin: 1.2254901960784315%;
	margin-bottom: 4*1.2254901960784315%;
	width: 97.54901960784314%;
	display:block;
}



/*********************
LINK STYLES
*********************/

a, a:visited {
	color:  @mk-gray;
	text-decoration: none;


	/* on hover */
	&:hover, &:focus {
		color: @mk-black;
	}

	/* on click */
	&:active {
		color: @mk-black;
	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba(0,0,0,0);
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: @sansserifthin;
	text-rendering: optimizelegibility;
	font-weight: 100;
	font-style:normal;
	font-size-adjust:0.5;

	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}



/*********************
HEADER
*********************/
#header{
	position:relative;
}

#logo {
	padding-top:30px;
	padding-bottom:20px;
	cursor:pointer;
	.text-center
}

#logo img{
	width:100%;
	height:auto;
	max-width: 250px;
	display:inline-block;
}

.contentsection{
	position:relative;
	padding-top:0;
}

/*********************
MAIN MENU
*********************/

#mainmenu{
	border-bottom:1px solid @mk-red;
	padding-bottom:5px;
	margin-bottom:0px;
	padding-top:0px;
	.text-center
}

#mainmenu{
	
	.menu-item{
		margin-left: 3px;
		margin-right: 3px;
		color:  @mk-light-gray;
		cursor:pointer;
		display:inline-block;
	}

	.menu-item:hover{
		color: @mk-black;
	}

	.menu-item.active{
		color: @mk-black;
	}

	.menu-item.active:hover{
		color: @mk-gray;
	}

	.menu-item.active{
		
		a, a:visited {
			color:@mk-black;	
		}		
	}

}

#categoriesmenu{
	margin-top:0px;
	margin-bottom:0px;
	opacity:1;
	.transition(all, 1s, cubic-bezier(0.190, 1.000, 0.220, 1.000), 0s);
	.text-center
}

#categoriesmenu.hidden{
	opacity:0;
}


#categoriesmenu .mobile-breaker{
	width:1px;
	display:block;
}

#categoriesmenu{
	

	.submenu-item{
		margin-left: 5px;
		margin-right: 5px;
		color: @mk-light-gray;
		cursor:pointer;
		display:inline-block;
	}

	.submenu-item:hover{
		color: @mk-black;
	}

	.submenu-item.selected{
		color: @mk-black;
	}

	.submenu-item.selected:hover{
		color: @mk-gray;
	}

}

/*********************
NEWS
*********************/

.news_item{ 
    opacity:1;
    .transition(all, 1s, cubic-bezier(0.190, 1.000, 0.220, 1.000), 0s);

}
.news_item.unloaded{ 
    opacity:0;
}
.news_item.hidden{ 
    opacity:0;
}

.news_item .sub_image
{
    border:none;
}

.news_item.visited .sub_image
{
    border:none;
}

.news_item.hover .sub_image
{
   border:none;
}

.news_item .sub_image img {
    display:block;
    opacity:1;
    .transition(opacity, 800ms, cubic-bezier(0.190, 1.000, 0.220, 1.000));
}

.news_item .news_caption_box ,
.news_item .news_quote_box{
    opacity:1;
}


.news_line_break{
	clear:both;
}

.news_item{
	cursor:pointer;
}

.news_caption_box {
    min-height:50px;
}



.news_item .news_caption_box,
.news_item .news_quote_box,
{
	opacity:1;
	
}


.caption_pos_bellow{
	margin-top:0;
}

.copy_pos_bellow{
	margin-top:0;
}






/*********************
PROJECTS
*********************/ 


#projectscontent .project_thumb{ 
	position: relative;
	float: left; 
    width: 47.549019607843135%;
    margin: 1.2254901960784315%;
    cursor:pointer;
	margin-bottom: 3*1.2254901960784315%;
    .transition(all, 1s, cubic-bezier(0.190, 1.000, 0.220, 1.000), 0s);
    display:block;
    opacity:1,
}


#projectscontent .project_thumb.unloaded{ 
    opacity:0;
}
#projectscontent .project_thumb.hidden{ 
    display:none;
    opacity:0;
}


.project_thumb .project_thumb_info_title{
	font-size:14px;
	height:30px;
}
.project_thumb .project_thumb_info_desc{
	display:none;
	color:@mk-gray;
}

.project_thumb .project_thumb_image
{
	padding:2px;
	border:1px solid @mk-red;
	.transition(border, 800ms, cubic-bezier(0.190, 1.000, 0.220, 1.000));
}

.project_thumb.visited .project_thumb_image
{
	border:1px solid @mk-gray;
}

.project_thumb.hover .project_thumb_image
{
	border:1px solid black;
}

.project_thumb .project_thumb_image img {
	display:block;
	opacity:1;
	.transition(opacity, 800ms, cubic-bezier(0.190, 1.000, 0.220, 1.000));
}

.project_thumb.visited .project_thumb_image img {
	display:block;
	opacity:1;
	.transition(opacity, 800ms, cubic-bezier(0.190, 1.000, 0.220, 1.000));
}

.project_thumb.hover .project_thumb_image img{
	opacity:1;
}

.project_thumb.selected .project_thumb_image img{
	opacity:1;
}


/*********************
SINGLE PROJECT
*********************/ 


#singleproject{
	overflow:hidden;
	display:block;
	height:0px;
    width: 97.54901960784314%;
	margin-top:0;
	margin-bottom:0;
	.transition(height, 1s, cubic-bezier(1.000, 0.000, 0.000, 1.000));
}



#slideshow
{
	margin-bottom: 2*1.2254901960784315%;
    cursor:pointer;
}
#buttons{
	position:absolute;
	z-index:1;
}

#btn-left{
	opacity:0;
	float:left;
	border-left:10px solid @mk-gray;
	.transition(opacity, 1s, cubic-bezier(0.190, 1.000, 0.220, 1.000));

}
#btn-right{
	opacity:0;
	float:right;
	border-right:10px solid @mk-gray;
	.transition(opacity, 500ms, cubic-bezier(0.190, 1.000, 0.220, 1.000));
}

#btn-left.hover{
	opacity:0.5;
}
#btn-right.hover{
	opacity:0.5;
}
#images{
	 float:left;
    overflow:hidden;
    .transition(margin-left, 500ms, cubic-bezier(0.190, 1.000, 0.220, 1.000));
    margin-left:0px;
}


#slideshow .project_image
{
    float:left;
    background-color:#f0f0f0;
}

#slideshow .project_image img
{
    width:100%;
    max-width:100%;
    height:auto;
    max-height:100%;
    opacity:1;
    .transition(opacity, 1s, cubic-bezier(0.190, 1.000, 0.220, 1.000));

    
}

#slideshow .project_image.hidden img{
	opacity:0;
}
#slideshow .project_image.unloaded img{
	opacity:0;
}
#fb_like_container{
	float:left;
	width:100%;
	height:22px;
	overflow:hidden;
	.text-right;
}

#projectdetails{
	border-bottom:1px solid @mk-red;
	padding-bottom: 2*1.2254901960784315%;
}

#projectinfo{
	float:left;width:100%;
}



#projectinfo h1{
	margin:0;
	line-height:1;
	font-size:28px;
}
#projectinfo p{
	margin:0;
	font-size:15px;
	color:@mk-gray;
}


/*********************
PUBLICATIONS
*********************/


#pubscontent .pub_thumb{ 
	position: relative;
	float: left; 
    width: 30.88235294117647%;
    margin: 1.2254901960784315%;
    opacity:1;
    .transition(all, 1s, cubic-bezier(0.190, 1.000, 0.220, 1.000), 0s);

}

#pubscontent .pub_thumb.unloaded{ 
    opacity:0;
}

#pubscontent .pub_thumb.hidden{ 
    opacity:0;
}



.pub_thumb{
	cursor:pointer;
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
    .transition(all, 1s, cubic-bezier(0.190, 1.000, 0.220, 1.000), 0s);
}


.pub_thumb_image_one,
.pub_thumb_image_two
{
	//border:3px solid @mk-red;
}

.pub_thumb .description i{
	font-style:normal;
	color:@mk-gray;
}

.pub_thumb .description{
	margin-top: 5px;
	font-size:13px;
	text-transform:uppercase;
	.text-center;
	height:55px;
	margin-bottom:5px;
}


.pub_thumb .pub_thumb_image_one{
	display:block;
	opacity: 1; height: auto;
	.transition(opacity, 800ms, cubic-bezier(0.190, 1.000, 0.220, 1.000), 0s);
}

.pub_thumb.hover .pub_thumb_image_one{
	opacity: 0; height: 0; overflow: hidden;
}

.pub_thumb .pub_thumb_image_two{
	.transition(opacity, 800ms, cubic-bezier(0.190, 1.000, 0.220, 1.000), 0s);
	opacity: 0; height: 0; overflow: hidden;
}
.pub_thumb.hover .pub_thumb_image_two{
	opacity: 1; height: auto;
}



/*********************
STUDIO
*********************/

.grid_box{
    opacity:1;
    .transition(opacity, 1s, cubic-bezier(0.190, 1.000, 0.220, 1.000), 0s);
}

.grid_box.hidden{ 
    opacity:0;
}
.grid_box.unloaded{ 
    opacity:0;
}

.grid_image_box:hover .sub_image
{
	border:none;
	cursor:pointer;
}

.grid_image_box .sub_image
{
	border:none;
}

.grid_image_box .sub_image img {
	display:block;
	opacity:1;
	.transition(opacity, 1400ms, cubic-bezier(0.190, 1.000, 0.220, 1.000));
}

.grid_image_box:hover .sub_image img{
	opacity:1;
}


.grid_push_box{
	
}

.grid_line_break{
	clear:both;
}


.red_box {
	border:1px solid @mk-red;
}


.grid_copy_box p
{
	padding:0 0 10px 0;
	margin:0;
}

.grid_copy_box p:last{
	padding-bottom:0;
}

.grid_copy_box i,
.grid_copy_box em{
    //color:@mk-gray;
    font-style:normal;
    display:block;
    padding-bottom:5px;
}





/*********************
FOOTER
*********************/
#footer {
	margin-top:10px;
	clear: both;
	position:relative;
	max-width:500px;
	width:100%;

	.mail{
		float:left;
		width:65%;
	}
	.signature{
		float:right;
		width:35%;
		.text-right;
	}
}

#footer .row{
	margin-left: 1.2254901960784315%;
	margin-right: 1.2254901960784315%;
	margin-bottom: 1.2254901960784315%;
	padding-top: 1.2254901960784315%;
	border-top:1px solid @mk-red;
}



