<div class="row">

	<div class="mail">
		<a href="mailto:info@minaskosmidis.com?subject=Hello">info@minaskosmidis.com</a>
	</div>

	<div class="signature">
		<a href="http://num42.com" target="_blank">42</a>
	</div>

	<div class="clearfix"></div>
</div>

