
	
	<div id="header" class="container"></div>

	<section id="newscontent" class="contentsection container"></section>

	<section id="projectscontent" class="contentsection container">
		<div id="singleproject" class="hidden">
			<div id="slideshow">
				
				
				<div id="buttons">
					<div id="btn-left"></div>
					<div id="btn-right"></div>
				</div>
				
				<div id="images"></div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
			
			<div id="projectdetails">
				<div id="projectinfo"></div>
				<div id="fb_like_container"></div>
				<div class="clearfix"></div>
			</div>

		</div>
	</section>
	
	<section id="pubscontent" class="contentsection container"></section>
	
	<section id="studiocontent" class="contentsection container"></section>
	
	<div id="footer"></div>

	<div class="clearfix"></div>